*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    border: none;
    outline: none;
    font-family: 'Rubik-Regular';
}

@font-face {
    font-family: 'Rubik-Regular';
    src: url('./assets/fonts/Rubik-Regular.ttf');
}

/* body{
    width: 100vw;
    height: 100vh;
} */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000814;
    height: 70px;
    width: 100vw;
    padding: 30px;
}
.navbar a{
    transition: all 0.3s ease;
    color: #fff;
}

.navbar a:hover{
    color: #FFD60A  ;
}
.logo{
    font-size: 2rem;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    transition: all 0.5s ease-in-out;
}

.menu__item{
    margin: 8px 32px;
}

#signup-btn{
    width: 100px;
    height: 50px;
    border-radius: 4px;
    margin: 8px 32px;
    white-space: nowrap;
    font-weight: bold;
}

#signup-btn:hover{
    background-color: #FFD60A;
    transition: all 0.3s ease;
    cursor: pointer;
    color: #001D3D;
}

#mobile-menu-btn{
    display: none;
    margin: 3px;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height:3px;
    margin: 5px;
    border-radius: 3px;
    background-color: #fff;
    transition: all 0.3s ease;
}

@media screen and (max-width:600px){
    .navbar{
        position: relative;
    }
    .logo{
        font-size: 1rem;
    }
    
    #mobile-menu-btn{
        display: block;
    }

    #mobile-menu-btn.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu-btn.active .bar:nth-child(2){
        opacity: 0;
    }
    #mobile-menu-btn.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .menu{
        position: absolute;
        display: none;
        z-index: -1;
        top: -150vh;
    } 
    .menu.active{
        display: flex;
        background-color:#000814 ;
        flex-direction: column;
        height: 50vh;
        width: 100vw;
        z-index: 99;
        top: 100%;
    }
}